################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/alogrithms/v16/.suo
/.vs/alogrithms/v16/Browse.VC.db
/.vs/alogrithms/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/alogrithms/v15
/.vs/VSWorkspaceState.json
